/Bus/obj
/Bus/bin
/Core/obj
/Core/bin
/Data/obj
/Data/bin
/Domain/obj
/Domain/bin
/infra.DI/obj
/infra.DI/bin
/Infrastructure.Extentions/obj
/Infrastructure.Extentions/bin
/infrastructure.IOC/obj
/infrastructure.IOC/bin
/Web/Properties
/Web/bin
/Web/obj
/.vs
/ApplicationServices/obj
/ApplicationServices/bin
/EventBus/bin
/EventBus/obj
/MiniTask.ProjectDetails
/Web/wwwroot
/Web/App_Data
/Web/Plugins
